# Ignore everything
*

# Allow gitignore, README and requirements
!.gitignore
!README.md
!requirements.txt

# Allow scripts directory
!scripts/

# Allow only selected notebooks
!scripts/1.process_and_integrate.ipynb
!scripts/2.subcluster_and_visualize_metadata.ipynb
!scripts/3.calculate_celltype_proportions_and_neighborhoods.ipynb
!scripts/4.correlate_distance_and_genelists.ipynb
!scripts/5.find_domains.ipynb
!scripts/7.find_tcr_clonotypes.ipynb

# Allow tcr_bulk directory and specific files
!scripts/6.tcr_bulk/
!scripts/6.tcr_bulk/1_run_mixcr_command_example.sh
!scripts/6.tcr_bulk/2_immunarch_tcrs.R
!scripts/6.tcr_bulk/3_make_sankey_plot.ipynb

!scripts/8.cci/
!scripts/8.cci/**

# Manuscript figures and source data
!manu_sourcedata/
!manu_sourcedata/**

!manu_figs/
!manu_figs/**

# Do not track manuscript master PDF
manu_figs/xenium_26_figs.pdf

# Ignore macOS metadata
.DS_Store


